<div class="containerA">
  <div class="navegacion">
    <h3 id="logo">Rafa Licores</h3>

    <ul>
      <li><a href="/">Almacen</a></li>
      <li><a href="/almacen">Agregar</a></li>
      <li><a href="/query1">Query 1</a></li>
      <li><a href="/query2">Query 2</a></li>
      <li><a href="/query3">Query 3</a></li>
      <li><a href="/query4">Query 4</a></li>
    </ul>
  </div>
</div>

{{!-- <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active fondo" href="/">Almacen</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/almacen">Agregar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">Acerca de</a>
  </ul> --}}